
.green{
    color: green;
}
.red,
.required_input{
    color: red;
}
.card_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}
.worker_card{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(212, 212, 212);
}
.worker_card:hover{
    transform: scale(1.02);
}
.info_detail{
    margin-bottom: 100px;
}
.info_detail h2{
    text-align: center;
}
.card_delete_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.card_delete_container svg{
    padding-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.card_delete_container svg:hover{
    transform: scale(1.05);
}
.bold{
    font-weight: bold;
}
.error{
    background-color:rgb(255, 130, 130);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.flex{
    display: flex;
}
#allSelectedHealer p{
    margin-right: 10px !important;
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
#allSelectedHealer div{
   display: flex;
   align-items: center;
}
#allSelectedHealer img{
    margin-top: 5px;
    margin-bottom: 5px;
}
#allSelectedHealer img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#allSelectedHealer{
    margin-bottom: 10px ;
}
.image_info{
    margin-top: 5px;
    width: 100%;
    max-height: 400px;
    display: flex;
    justify-content: center;
}